@import b3.vertical.fieldConstructor

@(taskForm: Form[TaskForm])(implicit messages: Messages, request: RequestHeader)
@status = @{ Seq("N" -> Messages("N"), "I" -> Messages("I"), "S" -> Messages("S"), "D" -> Messages("D")) }

@main(Messages("UpdateTask")) {
    <div class="container">
        <h1>@Messages("UpdateTask")</h1>
        <div class="row">
            <div class="col-xs-6">
                @b3.formCSRF(routes.UpdateTaskController.update) {
                    @b3.hidden(taskForm("id").name, taskForm("id").value.get)
                    @b3.select(taskForm("status"), options = status, '_label -> "Status")
                    @b3.text(taskForm("content"), '_label -> "Task")
                    @b3.submit('class -> "btn btn-info") {
                        @Messages("UpdateTask")
                    }
                }
            </div>
        </div>
    </div>

}