@import b3.vertical.fieldConstructor
@(task: Task)(implicit messages: Messages, request: RequestHeader)

@main(Messages("GetTask")) {
    <div class="container">
        <h1>@Messages("GetTask")</h1>
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>@task.id.get</td>
                </tr>
                <tr>
                    <th>@Messages("Status")</th>
                    <td>@Messages(task.status.getOrElse(""))</td>
                </tr>
                <tr>
                    <th>@Messages("Task")</th>
                    <td>@task.content</td>
                </tr>
            </tbody>
        </table>
        <a href="@routes.UpdateTaskController.index(task.id.get)" class="btn btn-info">@Messages("UpdateTask")</a>
        @b3.formCSRF(routes.DeleteTaskController.delete(task.id.get)) {
            @b3.submit('class -> "btn btn-danger", 'style -> "margin-top: 5px") {
                @Messages("DeleteTask")
            }
        }
    </div>
}